h1, h2, h3, ul {margin: 0; padding: 0;}
body{background: url(/images/bg.png);color: #333;font-family: Georgia, Cambria, "Times New Roman", Times, serif;}
h2, h3 {font-family: Helvetica, Arial, sans-serif;text-shadow: 1px 1px 1px #CCC;}
h3 a, h3 a:visited{color:#333;}
blockquote{border-left: solid 4px #666;padding-left: 5px;font-style: italic;}

/*TITLE*/
div#title{text-align: center;}
h1.title, h1.title a, h1.title a:visited{font-size:64px;text-shadow: 2px 2px 2px #ddd;color:#333;text-decoration:none;text-align:center;}
p.title_contents{margin-top:0;text-align:center;text-shadow: 1px 1px 1px #CCC;}

/*LISTA POSTS HOME*/
div#blog_content{width: 840px;margin:0 auto 60px auto;}
ul.posts li{list-style-type:none;}
ul.posts li a, ul.posts li a:visited{color: #333;}
ul.posts li p{margin: 5px 0;font-size: 20px;text-shadow: 1px 1px 1px #CCC;}
ul.posts li p span.date{color:#E8117F;}
h2.post_title{color: #E8117F;text-shadow: 1px 1px 1px #CCC;font-size: 34px;}
h2.post_title a, h2.post_title a:visited {text-decoration:none; color: #E8117F;}

/*LISTA TAGS*/
div#all_tags{margin-top:10px;}
div#all_tags ul li{display: inline;font-size:11px;font-style: italic;margin:3px;}
div#all_tags a, div#all_tags a:visited{color:#333;line-height:22px;}

/*POSTS SINGLE*/
div#post{margin-bottom:30px;}
div#post p.post-date{margin: -5px 0 25px 0;letter-spacing: 1px;font-size: 11px;}
div#post pre{padding:5px;background-color:#f0f3f3;}
div#post ul {margin-left: 40px}

/*FOOTER*/
div.footer {position:fixed;left:0px;bottom:0px;height:50px;width:100%;background:#333;font-family: Helvetica, Arial, sans-serif;}
div.footer .footer_content{width: 840px;margin: auto;}
.footer_content a{color:#fff;text-decoration:none;}
div.footer ul{color: #fff;padding:20px 0;}
div.footer ul li{list-style-type: none;	display: inline;margin-right:27px;}
div.footer ul li.designed{color:#848484;}
div.footer ul li.feed{background: url(/images/feed.png) no-repeat;padding-left:25px;}

img.post_img{
	box-shadow: 1px 1px 13px #666;
	-webkit-box-shadow: 1px 1px 13px #666;
	-moz-box-shadow: 1px 1px 13px #666;
	margin: 10px auto;
	border: solid 6px white;
}

img.about_me{
  width: 150px;
  box-shadow: 1px 1px 13px #666;
  -webkit-box-shadow: 1px 1px 13px #666;
  -moz-box-shadow: 1px 1px 13px #666;
  float: left;
  margin: 0 15px 10px 0;
  border: solid 6px white;
}

/*C# SYNTAX*/
.csharp .hll { background-color: #f0f3f3 }
.csharp  { background-color: #f0f3f3 }
.csharp .c { color: #008000 } /* Comment */
.csharp .err { border: 1px solid #FF0000 } /* Error */
.csharp .k { color: #0000ff } /* Keyword */
.csharp .cm { color: #008000 } /* Comment.Multiline */
.csharp .cp { color: #0000ff } /* Comment.Preproc */
.csharp .c1 { color: #008000 } /* Comment.Single */
.csharp .cs { color: #008000 } /* Comment.Special */
.csharp .ge { font-style: italic } /* Generic.Emph */
.csharp .gh { font-weight: bold } /* Generic.Heading */
.csharp .gp { font-weight: bold } /* Generic.Prompt */
.csharp .gs { font-weight: bold } /* Generic.Strong */
.csharp .gu { font-weight: bold } /* Generic.Subheading */
.csharp .kc { color: #0000ff } /* Keyword.Constant */
.csharp .kd { color: #0000ff } /* Keyword.Declaration */
.csharp .kn { color: #0000ff } /* Keyword.Namespace */
.csharp .kp { color: #0000ff } /* Keyword.Pseudo */
.csharp .kr { color: #0000ff } /* Keyword.Reserved */
.csharp .kt { color: #2b91af } /* Keyword.Type */
.csharp .s { color: #a31515 } /* Literal.String */
.csharp .nc { color: #2b91af } /* Name.Class */
.csharp .ow { color: #0000ff } /* Operator.Word */
.csharp .sb { color: #a31515 } /* Literal.String.Backtick */
.csharp .sc { color: #a31515 } /* Literal.String.Char */
.csharp .sd { color: #a31515 } /* Literal.String.Doc */
.csharp .s2 { color: #a31515 } /* Literal.String.Double */
.csharp .se { color: #a31515 } /* Literal.String.Escape */
.csharp .sh { color: #a31515 } /* Literal.String.Heredoc */
.csharp .si { color: #a31515 } /* Literal.String.Interpol */
.csharp .sx { color: #a31515 } /* Literal.String.Other */
.csharp .sr { color: #a31515 } /* Literal.String.Regex */
.csharp .s1 { color: #a31515 } /* Literal.String.Single */
.csharp .ss { color: #a31515 } /* Literal.String.Symbol */

/*BASH SYNTAX*/
.bash .hll { background-color: #f0f3f3 }
.bash  { background: #f0f3f3; }
.bash .c { color: #0099FF; font-style: italic } /* Comment */
.bash .err { color: #AA0000; background-color: #FFAAAA } /* Error */
.bash .k { color: #006699; font-weight: bold } /* Keyword */
.bash .o { color: #555555 } /* Operator */
.bash .cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
.bash .cp { color: #009999 } /* Comment.Preproc */
.bash .c1 { color: #0099FF; font-style: italic } /* Comment.Single */
.bash .cs { color: #0099FF; font-weight: bold; font-style: italic } /* Comment.Special */
.bash .gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.bash .ge { font-style: italic } /* Generic.Emph */
.bash .gr { color: #FF0000 } /* Generic.Error */
.bash .gh { color: #003300; font-weight: bold } /* Generic.Heading */
.bash .gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.bash .go { color: #AAAAAA } /* Generic.Output */
.bash .gp { color: #000099; font-weight: bold } /* Generic.Prompt */
.bash .gs { font-weight: bold } /* Generic.Strong */
.bash .gu { color: #003300; font-weight: bold } /* Generic.Subheading */
.bash .gt { color: #99CC66 } /* Generic.Traceback */
.bash .kc { color: #006699; font-weight: bold } /* Keyword.Constant */
.bash .kd { color: #006699; font-weight: bold } /* Keyword.Declaration */
.bash .kn { color: #006699; font-weight: bold } /* Keyword.Namespace */
.bash .kp { color: #006699 } /* Keyword.Pseudo */
.bash .kr { color: #006699; font-weight: bold } /* Keyword.Reserved */
.bash .kt { color: #007788; font-weight: bold } /* Keyword.Type */
.bash .m { color: #FF6600 } /* Literal.Number */
.bash .s { color: #CC3300 } /* Literal.String */
.bash .na { color: #330099 } /* Name.Attribute */
.bash .nb { color: #336666 } /* Name.Builtin */
.bash .nc { color: #00AA88; font-weight: bold } /* Name.Class */
.bash .no { color: #336600 } /* Name.Constant */
.bash .nd { color: #9999FF } /* Name.Decorator */
.bash .ni { color: #999999; font-weight: bold } /* Name.Entity */
.bash .ne { color: #CC0000; font-weight: bold } /* Name.Exception */
.bash .nf { color: #CC00FF } /* Name.Function */
.bash .nl { color: #9999FF } /* Name.Label */
.bash .nn { color: #00CCFF; font-weight: bold } /* Name.Namespace */
.bash .nt { color: #330099; font-weight: bold } /* Name.Tag */
.bash .nv { color: #003333 } /* Name.Variable */
.bash .ow { color: #000000; font-weight: bold } /* Operator.Word */
.bash .w { color: #bbbbbb } /* Text.Whitespace */
.bash .mf { color: #FF6600 } /* Literal.Number.Float */
.bash .mh { color: #FF6600 } /* Literal.Number.Hex */
.bash .mi { color: #FF6600 } /* Literal.Number.Integer */
.bash .mo { color: #FF6600 } /* Literal.Number.Oct */
.bash .sb { color: #CC3300 } /* Literal.String.Backtick */
.bash .sc { color: #CC3300 } /* Literal.String.Char */
.bash .sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.bash .s2 { color: #CC3300 } /* Literal.String.Double */
.bash .se { color: #CC3300; font-weight: bold } /* Literal.String.Escape */
.bash .sh { color: #CC3300 } /* Literal.String.Heredoc */
.bash .si { color: #AA0000 } /* Literal.String.Interpol */
.bash .sx { color: #CC3300 } /* Literal.String.Other */
.bash .sr { color: #33AAAA } /* Literal.String.Regex */
.bash .s1 { color: #CC3300 } /* Literal.String.Single */
.bash .ss { color: #FFCC33 } /* Literal.String.Symbol */
.bash .bp { color: #336666 } /* Name.Builtin.Pseudo */
.bash .vc { color: #003333 } /* Name.Variable.Class */
.bash .vg { color: #003333 } /* Name.Variable.Global */
.bash .vi { color: #003333 } /* Name.Variable.Instance */
.bash .il { color: #FF6600 } /* Literal.Number.Integer.Long */

/*RUBY SYNTAX*/
.ruby .hll { background-color: #f0f3f3 }
.ruby  { background: #f0f3f3; }
.ruby .c { color: #0099FF; font-style: italic } /* Comment */
.ruby .err { color: #AA0000; background-color: #FFAAAA } /* Error */
.ruby .k { color: #006699; font-weight: bold } /* Keyword */
.ruby .o { color: #555555 } /* Operator */
.ruby .cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
.ruby .cp { color: #009999 } /* Comment.Preproc */
.ruby .c1 { color: #0099FF; font-style: italic } /* Comment.Single */
.ruby .cs { color: #0099FF; font-weight: bold; font-style: italic } /* Comment.Special */
.ruby .gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.ruby .ge { font-style: italic } /* Generic.Emph */
.ruby .gr { color: #FF0000 } /* Generic.Error */
.ruby .gh { color: #003300; font-weight: bold } /* Generic.Heading */
.ruby .gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.ruby .go { color: #AAAAAA } /* Generic.Output */
.ruby .gp { color: #000099; font-weight: bold } /* Generic.Prompt */
.ruby .gs { font-weight: bold } /* Generic.Strong */
.ruby .gu { color: #003300; font-weight: bold } /* Generic.Subheading */
.ruby .gt { color: #99CC66 } /* Generic.Traceback */
.ruby .kc { color: #006699; font-weight: bold } /* Keyword.Constant */
.ruby .kd { color: #006699; font-weight: bold } /* Keyword.Declaration */
.ruby .kn { color: #006699; font-weight: bold } /* Keyword.Namespace */
.ruby .kp { color: #006699 } /* Keyword.Pseudo */
.ruby .kr { color: #006699; font-weight: bold } /* Keyword.Reserved */
.ruby .kt { color: #007788; font-weight: bold } /* Keyword.Type */
.ruby .m { color: #FF6600 } /* Literal.Number */
.ruby .s { color: #CC3300 } /* Literal.String */
.ruby .na { color: #330099 } /* Name.Attribute */
.ruby .nb { color: #336666 } /* Name.Builtin */
.ruby .nc { color: #00AA88; font-weight: bold } /* Name.Class */
.ruby .no { color: #336600 } /* Name.Constant */
.ruby .nd { color: #9999FF } /* Name.Decorator */
.ruby .ni { color: #999999; font-weight: bold } /* Name.Entity */
.ruby .ne { color: #CC0000; font-weight: bold } /* Name.Exception */
.ruby .nf { color: #CC00FF } /* Name.Function */
.ruby .nl { color: #9999FF } /* Name.Label */
.ruby .nn { color: #00CCFF; font-weight: bold } /* Name.Namespace */
.ruby .nt { color: #330099; font-weight: bold } /* Name.Tag */
.ruby .nv { color: #003333 } /* Name.Variable */
.ruby .ow { color: #000000; font-weight: bold } /* Operator.Word */
.ruby .w { color: #bbbbbb } /* Text.Whitespace */
.ruby .mf { color: #FF6600 } /* Literal.Number.Float */
.ruby .mh { color: #FF6600 } /* Literal.Number.Hex */
.ruby .mi { color: #FF6600 } /* Literal.Number.Integer */
.ruby .mo { color: #FF6600 } /* Literal.Number.Oct */
.ruby .sb { color: #CC3300 } /* Literal.String.Backtick */
.ruby .sc { color: #CC3300 } /* Literal.String.Char */
.ruby .sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.ruby .s2 { color: #CC3300 } /* Literal.String.Double */
.ruby .se { color: #CC3300; font-weight: bold } /* Literal.String.Escape */
.ruby .sh { color: #CC3300 } /* Literal.String.Heredoc */
.ruby .si { color: #AA0000 } /* Literal.String.Interpol */
.ruby .sx { color: #CC3300 } /* Literal.String.Other */
.ruby .sr { color: #33AAAA } /* Literal.String.Regex */
.ruby .s1 { color: #CC3300 } /* Literal.String.Single */
.ruby .ss { color: #FFCC33 } /* Literal.String.Symbol */
.ruby .bp { color: #336666 } /* Name.Builtin.Pseudo */
.ruby .vc { color: #003333 } /* Name.Variable.Class */
.ruby .vg { color: #003333 } /* Name.Variable.Global */
.ruby .vi { color: #003333 } /* Name.Variable.Instance */
.ruby .il { color: #FF6600 } /* Literal.Number.Integer.Long */

.html .hll { background-color: #ffffcc }
.html  { background: #f0f0f0; }
.html .c { color: #60a0b0; font-style: italic } /* Comment */
.html .err { border: 1px solid #FF0000 } /* Error */
.html .k { color: #007020; font-weight: bold } /* Keyword */
.html .o { color: #666666 } /* Operator */
.html .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.html .cp { color: #007020 } /* Comment.Preproc */
.html .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.html .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.html .gd { color: #A00000 } /* Generic.Deleted */
.html .ge { font-style: italic } /* Generic.Emph */
.html .gr { color: #FF0000 } /* Generic.Error */
.html .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.html .gi { color: #00A000 } /* Generic.Inserted */
.html .go { color: #808080 } /* Generic.Output */
.html .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.html .gs { font-weight: bold } /* Generic.Strong */
.html .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.html .gt { color: #0040D0 } /* Generic.Traceback */
.html .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.html .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.html .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.html .kp { color: #007020 } /* Keyword.Pseudo */
.html .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.html .kt { color: #902000 } /* Keyword.Type */
.html .m { color: #40a070 } /* Literal.Number */
.html .s { color: #4070a0 } /* Literal.String */
.html .na { color: #4070a0 } /* Name.Attribute */
.html .nb { color: #007020 } /* Name.Builtin */
.html .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.html .no { color: #60add5 } /* Name.Constant */
.html .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.html .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.html .ne { color: #007020 } /* Name.Exception */
.html .nf { color: #06287e } /* Name.Function */
.html .nl { color: #002070; font-weight: bold } /* Name.Label */
.html .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.html .nt { color: #062873; font-weight: bold } /* Name.Tag */
.html .nv { color: #bb60d5 } /* Name.Variable */
.html .ow { color: #007020; font-weight: bold } /* Operator.Word */
.html .w { color: #bbbbbb } /* Text.Whitespace */
.html .mf { color: #40a070 } /* Literal.Number.Float */
.html .mh { color: #40a070 } /* Literal.Number.Hex */
.html .mi { color: #40a070 } /* Literal.Number.Integer */
.html .mo { color: #40a070 } /* Literal.Number.Oct */
.html .sb { color: #4070a0 } /* Literal.String.Backtick */
.html .sc { color: #4070a0 } /* Literal.String.Char */
.html .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.html .s2 { color: #4070a0 } /* Literal.String.Double */
.html .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.html .sh { color: #4070a0 } /* Literal.String.Heredoc */
.html .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.html .sx { color: #c65d09 } /* Literal.String.Other */
.html .sr { color: #235388 } /* Literal.String.Regex */
.html .s1 { color: #4070a0 } /* Literal.String.Single */
.html .ss { color: #517918 } /* Literal.String.Symbol */
.html .bp { color: #007020 } /* Name.Builtin.Pseudo */
.html .vc { color: #bb60d5 } /* Name.Variable.Class */
.html .vg { color: #bb60d5 } /* Name.Variable.Global */
.html .vi { color: #bb60d5 } /* Name.Variable.Instance */
.html .il { color: #40a070 } /* Literal.Number.Integer.Long */
