---
layout: default
title: Vinicius Quaiato
---

{% assign p = site.posts.first %}
<div id="post">
  <h2 class="post_title"><a href="{{ p.url }}">{{ p.title}}</a></h2>
  <hr/>
  <p class="post-date"><span class="date">{{ p.date | date: "%d/%m/%Y" }}</span></p>
  <p class="post-date"></p>
  {{ p.content }}
  <h3><a href="{{ p.url }}#comments">Comentários</a></h3>
</div>
<hr/>
<h3>Posts recentes</h3>
  <ul class="posts">
    {% for post in site.posts limit:5 offset:0 %}
        <li>
        	<p>
        		<span class="date">{{ post.date | date: "%d/%m/%Y" }}</span> &raquo;
        		<a href="{{ post.url }}">{{ post.title }}</a>
        	</p>
        	</li>
    {% endfor %}
  </ul>
  <h3><a href="/posts/all">Ver todos os posts</a></h3>

  <div id="all_tags">
    <ul>
      {% for tag in site.tags %}
        <li>
          <a href="/tags/{{ tag | first | map: 'to_liquid' | map: 'slug' }}">{{ tag | first | map: 'to_liquid' | map: 'title' }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

