---
layout: default
---

<div id="post">
	<h2 class="post_title">{{ page.title}}</h2>
    <hr>
	<p class="post-date">
        <span class="date">{{ page.date | date: "%d/%m/%Y" }}</span>
    </p>
	<p></p>
	{{ content }}
    <h3><a href="/">Voltar</a></h3>
</div>
<br /><br />
<div id="disqus_thread"></div>
<h2 name="comments">Comentários</h2>
<script type="text/javascript">
    var disqus_shortname = 'viniciusquaiato';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>